<p id="notice"><%= notice %></p>

<% if @message %>
  <div class="center alert">
    <p><%= @message %></p>
  </div>
<% end %>

<div class="center">

  <div class="info">
    <% if @user.admin %>
      <p><strong>COORDINATOR</strong></p>
      <% else%>
      <p><strong>REGISTERED NURSE</strong></p>
    <% end %>
    <p><strong>username:</strong> <%= @user.username %></p>
    <p><strong>Name:</strong> <%= @user.first_name+" "+@user.last_name%></p>
    <p><strong>email:</strong> <%= @user.email %></p>
    <p><%= link_to 'Edit', edit_user_path(@user) %></p>
    <p><%= link_to "See Patients.", patients_path %></p>
    <p><%= link_to "See Nurses", nurses_path %></p>
    <p><%= link_to "See Home Health Aids.", aids_path %></p>
  </div>
</div>
