<%= form_for(@patient) do |f| %>

  <div class="form-group">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, class: "form-control" %></div>

  <div class="form-group">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, class: "form-control" %></div>


  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
