<%= form_for(@patient) do |f| %>

  <div class="form-group">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, class: "form-control" %></div>

  <div class="form-group">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, class: "form-control" %></div>




    <div class="form-group">
      <%= f.label :nurse %><br>
      <% if !params[:murse_id].blank? %>
      <%  @patient.nurse_id=params[:nurse_id] %>
      <%end%>
      <%= f.collection_select :nurse_id, Nurse.order(:last_name),:id,:name,class: "form-control" %></div>

      <div class="form-group">
        <%= f.label :visit_date %><br>
        <%= f.text_field :date, class: "form-control", value: '01/01/2018' %></div>



  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
