<h1>Patient Roster</h1>

<div class="form-group">

<%= form_for :nurse, :url => {:action => "choose_nurse", :id => @nurse} do |f|%>
<%  if params[:nurse_id].blank?%>
<%= f.label "Filter by Nurse/Aid"%>
<% else%>
<%= f.label "#{Nurse.find(params[:nurse_id]).role.upcase}" %>
<%end%>
<br>
<%= f.collection_select :id, Nurse.order(:last_name),:id,:name, include_blank: true, class: "form-control" %>
<%=f.submit "filter"%>

<%end%> </div>


<br> <br>



<h1>Patients</h1>

<table class="table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><strong>First Name</strong></td>
      <td><strong>Last Name</strong></td>
      <td><strong>Edit</strong></td>
      <td><strong>Delete</strong></td>
    </tr>
    <% @patients.each do |patient| %>
      <tr>

        <td><%= patient.first_name %></td>
        <td><%= patient.last_name %></td>
        <% if current_user.admin %>
          <td><%= link_to "Edit #{patient.first_name} #{patient.last_name}", [:edit, patient] %></td>
        <% else %>
          <td>Edit</td>
        <% end %>
        <% if current_user.admin %>
          <td><%= link_to "Delete #{patient.first_name} #{patient.last_name}", patient, :method => :delete, data: {:confirm => "You sure?" } , :title => "Delete #{patient.first_name}" %></td>

        <% else %>
          <td>Delete</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<% if @user %>
  <p>
    <%= link_to "Back to profile", user_path(@user), {:class => "btn btn-primary"} %>
  </p>
<% else %>
  <% if params[:nurse_id].blank?%>
  <p><%= link_to 'New Patient', new_patient_path %></p>
  <%else%>
  <% @nurse=Nurse.find(params[:nurse_id])%>
  <p><%= link_to 'New Patient', new_nurse_patient_path(@nurse) %></p>
  <%end%>
<% end %>
