<h1>Nurse Roster</h1>



<br> <br>

<table class="table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><strong>First Name</strong></td>
      <td><strong>Last Name</strong></td>
      <td><strong>Role</strong></td>
      <td><strong>Patients</strong></td>
      <td><strong>Visits</strong></td>
      <td><strong>Edit</strong></td>
      <td><strong>Delete</strong></td>
    </tr>
    <% @nurses.each do |nurse| %>
      <tr>

        <td><%= nurse.first_name %></td>
        <td><%= nurse.last_name %></td>
        <td><%= nurse.role %></td>
        <td><%= link_to "#{nurse.patients.count}", nurse_patients_path(nurse.id) %></td>
        <td><%= link_to "#{nurse.visits.count}", nurse_visits_path(nurse.id) %></td>
        <% if current_user.admin %>
          <td><%= link_to "Edit #{nurse.name}", [:edit, nurse] %></td>
        <% else %>
          <td>Edit</td>
        <% end %>
        <% if current_user.admin %>
          <td><%= link_to "Delete #{nurse.name}", nurse, :method => :delete, data: {:confirm => "Delete #{nurse.name}?" } , :title => "Delete #{nurse.first_name}" %></td>
          <% else %>
          <td>Delete</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<% if @user %>
  <p>
    <%= link_to "Back to profile", user_path(@user), {:class => "btn btn-primary"} %>
  </p>
<% else %>
  <p><%= link_to 'New Nurse', new_nurse_path %></p>
  <p><%= link_to 'Most Loaded Nurses', 'nurses/most_loaded' %></p>
<% end %>
