<h1>Nurse Roster</h1>

<div class="form-group">

<%= form_for :nurse, :url => {:action => "filter_nurses", :id => @nurse} do |f|%>
<%= f.label "nurse" %><br>
<%= f.collection_select :visits, Nurse.order(:last_name),:id,:patient_count, include_blank: true, class: "form-control" %>
<%=f.submit "filter"%>

<%end%> </div>


<br> <br>

<table class="table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><strong>First Name</strong></td>
      <td><strong>Last Name</strong></td>
      <td><strong>Patients</strong></td>
      <td><strong>Visits</strong></td>
      <td><strong>Edit</strong></td>
      <td><strong>Delete</strong></td>
    </tr>
    <% @nurses.each do |nurse| %>
      <tr>

        <td><%= nurse.first_name %></td>
        <td><%= nurse.last_name %></td>
        <td><%= link_to "#{nurse.first_name}'s Patients", nurse_patients_path(nurse.id) %></td>
        <td><%= link_to "#{nurse.first_name};s Visits", visits_path %></td>
        <% if current_user.admin %>
          <td><%= link_to "Edit #{nurse.first_name} #{nurse.last_name}", [:edit, nurse] %></td>
        <% else %>
          <td>Edit</td>
        <% end %>
        <% if current_user.admin %>
          <td><%= link_to "Delete #{nurse.first_name} #{nurse.last_name}", nurse, :method => :delete, data: {:confirm => "You sure?" } , :title => "Delete #{nurse.first_name}" %></td>
          <% else %>
          <td>Delete</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<% if @user %>
  <p>
    <%= link_to "Back to profile", user_path(@user), {:class => "btn btn-primary"} %>
  </p>
<% else %>
  <p><%= link_to 'New Nurse', new_nurse_path %></p>
<% end %>
