<h1>Nurses#index</h1>
<p>Find me in app/views/nurses/index.html.erb</p>

<h1>Nurses Rooster</h1>

<table class="table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><strong>First Name</strong></td>
      <td><strong>Last Name</strong></td>
      <td><strong>Details</strong></td>
    </tr>
    <% @nurses.each do |nurse| %>
      <tr>

        <td><%= nurse.first_name %></td>
        <td><%= nurse.last_name %></td>
        <% if current_user.admin %>
          <td><%= link_to "Show #{nurse.first_name} #{nurse.last_name}", nurse_path(nurse) %></td>
        <% else %>
          <td><%= link_to "Go on #{nurse.last_name}", nurse_path(nurse) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<% if @user %>
  <p>
    <%= link_to "Back to profile", user_path(@user), {:class => "btn btn-primary"} %>
  </p>
<% else %>
  <p><%= link_to 'New Nurse', new_nurse_path %></p>
<% end %>
