
<p id="notice"><%= notice %></p>

<div class="center">

  <div class="info">
    <p><strong>Name:</strong> <%= @nurse.last_name %></p>

    <p><strong>Total Number of Visits:</strong> <%= @nurse.visits.count %></p>
    <p><strong>Total Number of Patients:</strong> <%= @nurse.patients.count %></p>
    <p><strong>Role:</strong> <%= @nurse.role %></p>
    <% if current_user.admin %>
      <%= link_to 'Edit Nurse', [:edit, @nurse] %></p>
    <% else %>

    <% end %>
    <%= link_to 'Back', nurses_path,class: "btn btn-primary btn-light" %></p>
  </div>
</div>
